    body {
      font-family: "Amiri", Arial, sans-serif;
      margin: 0;
      padding: 0;
      background: url('https://upload.wikimedia.org/wikipedia/commons/4/49/Alhambra_mosaic.jpg');
      background-size: cover;
      background-attachment: fixed;
      color: #333;
    }
    header {
	background: #f8f3e7;
	  background-image: url('https://www.transparenttextures.com/patterns/arabesque.png');
      color: #63615C;
      padding: 20px;
      text-align: center;
      border-bottom: 4px solid #c7a864;
      font-family: "Amiri", serif;
    }
	    nav {
      margin-top: 10px;
    }

    nav a {
      text-decoration: none;
      color: #8b5e34;
      background: #f0e7d8;
      padding: 8px 14px;
      border-radius: 8px;
      border: 1px solid #c7a864;
      font-size: 1rem;
      transition: 0.3s ease;
    }

    nav a:hover {
      background: #c7a864;
      color: white;
      transform: translateY(-2px);
	   }
	   
    .container {
      max-width: 900px;
      margin: 40px auto;
      background: #fafafa;;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      border: 2px solid #c7a864;
    }
    h2, h3 {
      color: #8b5e34;
      font-family: "Amiri", serif;
    }
    .cards {
	  color: white ;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
      margin-top: 20px;
    }
    .card {
     background: white;
      padding: 20px;
      border-radius: 12px;
      border: 1px solid #e5e5e5;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
    }
	    .card:hover {
      transform: translateY(-3px);
      box-shadow: 0 4px 16px rgba(0,0,0,0.08);
    }
    .card h3 {
      margin-top: 0;
      font-size: 1.2rem;
      color: #222;
    }
    .card p {
      color: #555;
      font-size: 0.95rem;
      line-height: 1.4rem;
    }
    footer {
      text-align: center;
      padding: 15px;
	background: #f8f3e7;
	  background-image: url('https://www.transparenttextures.com/patterns/arabesque.png');
      color: #63615C;
      margin-top: 40px;
      border-top: 4px solid #c7a864;
      font-family: "Amiri", serif;
    }
    @import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');
  
.video-centre {
  display: block;
  margin: 30px auto;
  width: 80%;
  max-width: 700px;

  border-radius: 20px;
  overflow: hidden;

  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}

.video-centre {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.video-centre:hover {
  transform: scale(1.01);
  box-shadow: 0 18px 40px rgba(0,0,0,0.35);
}

.video-wrapper {
  width: 80%;
  max-width: 700px;
  margin: 30px auto;

  border-radius: 20px;
  overflow: hidden;

  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.video-wrapper:hover {
  transform: scale(1.01);
  box-shadow: 0 18px 40px rgba(0,0,0,0.35);
}

.video-wrapper iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  border: none;
  display: block;
}


.preview-site {
  display: block;
  margin: 30px auto;
  width: 100%;
  max-width: 900px;
  height: 500px;

  border-radius: 18px;
  border: 2px solid #c7a864;
  box-shadow: 0 12px 30px rgba(0,0,0,0.25);
}


